.descriptionContainerBottom {
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 700px) {
  .descriptionContainerBottom {
    width: 70%;
  }
}

@media (min-width: 950px) {
  .descriptionContainerBottom {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
  }
}