.container {
  background-image: url('../../images//parallax3.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  min-height: 380px;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
}

.wrapper blockquote {
  font-size: 0.9em;
  text-transform: uppercase;
  position: relative;
  width: 70%;
  text-align: center;
}

.wrapper blockquote::before {
  content: "\201C";
  position: absolute;
  font-size: 5em;
  left: -50px;
  top: 30px;
}

.wrapper blockquote::after {
  content: "\201D";
  position: absolute;
  font-size: 5em;
  right: -50px;
  top: 30px;
}

.wrapper span {
  color: #CCCCCC;
  font-size: 0.75em;
  font-weight: bold;
}