.accordion {
  margin-bottom: 10px;
}

.button {
  font-size: 0.65em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  width: 100%;
  background-color: transparent;
  border: 1px solid #464646;
  padding: 8px 12px;
  outline: 0;
  cursor: pointer;
  letter-spacing: 2px;
  transition: background-color 0.4s;
}

.button:hover {
  background-color: #EAEAEA;
}

.accordion .hidden {
  position: relative;
  margin: 0;
  top: -1px;
  width: 100%;
  padding: 0 15px;
  max-height: 0;
  content: "";
  overflow: hidden;
  border: 1px solid #464646;
  border-top: none;
  transition: all 0.5s ease-in-out;
}

.accordion .visible {
  padding: 15px;
  max-height: 500px;
}