.descriptionContainerTop {
  width: 100%;
  padding: 40px 0;
  display: flex;
}

.descriptionTopText {
  width: 69%;
}

.descriptionTopImage {
  width: 31%;
}

.descriptionTopText h4 {
  font-size: 0.9em;
  margin-bottom: 15px;
}

.descriptionContainerTop p {
  font-size: 0.7em;
  line-height: 24px;
  width: 90%;
  margin-bottom: 15px;
}