.wrapper {
  padding: 40px 0;
  background-color: #333333;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 2px;
}