.descriptionContainer {
  width: 100%;
  margin-bottom: 30px;
}

.descriptionContainer h4 {
  font-size: 0.8em;
}

.descriptionContainer p {
  font-size: 0.7em;
  width: 100%;
  line-height: 24px;
}

.header {
  margin-bottom: 15px;
}

@media (min-width: 950px) {
  .descriptionContainer {
    width: 33.3%;
    padding-right: 25px;
  }

  .descriptionContainer p {
    width: 95%;
  }
}